<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skripsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.pasien_atur_alat"></activity>
        <activity android:name=".Activities.pengawas_user_detail" />
        <activity android:name=".Activities.pengawas_tambah_pasien" />
        <activity android:name=".Activities.pengawas_dashboard" />
        <activity android:name=".Activities.addTime" />
        <activity android:name=".Activities.pasien_ObatDetailNext" />
        <activity android:name=".Activities.pasien_ObatAdd" />
        <activity android:name=".Activities.register" />
        <activity android:name=".Activities.pasien_dashboard" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notification.NotificationService"
            android:enabled="true" />
    </application>

</manifest>